<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <title>Beer Search</title>
    <script type="text/javascript" src ="jquery.min.js"></script>
    <!--<script type="text/javascript" src ="app.js"></script>-->
    <link type="text/css" rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <h1>Beer Lookup</h1>
    </header>
  <div id="content">
    <form id="beer-search" method="get" accept-charset="utf-8">
      <input type="text" autocomplete = "off" class="search" name="q" placeholder="Search for beer here." value="<%= @query %>">
    </form>
    <div id="results">
      <% if @query && @beers.empty? %>
        Your search returned no results. :(
      <% end %>
      <% @beers.each do |beer| %>
        <div class="beer">
          <% if beer.image_url %>
            <img src="<%= beer.image_url %>">
          <% end %>
          <span class="name"><%= beer.name %></span>
          <% if beer.description %>
            <span class="description"><%= beer.description %></span>
          <% else %>
            <span class="nodesc"></span>
          <% end %>
        </div>
      <% end if @beers %>
      <% if @error %>
        <%= @error %>
      <% end %>
    </div>
  </div>
  <footer>
    Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.
  </footer>
  </body>
</html>